<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Ticket</title>
</head>
<body>
	
	<form action="addticket" method="post">

		<table border="1">

			<tr><th>Id</th>

			<td><input type="number" name="id"></td> 

			</tr>	

			<tr><th>TicketTitle</th>

			<td><input type="text" name="ticketTitle"></td>

			</tr>

			<tr><th>TicketShortDescription</th>

			<td><input type="text" name="ticketShortDescription"></td>

			</tr>

			<tr><th>TicketCreatedOn</th>

			<td><input type="text" name="ticketCreatedOn"></td>

			</tr>

		</table>

		<button type="submit">Add Ticket</button>

	</form>

</body>
</html>